.Component{
    margin-top: 20px;
    max-width: max-content;
    padding: 15px;
    border: 1px solid black;
    /*border-radius: 5% 5% 5% 5%;*/
    box-shadow: 5px 5px 20px 5px;
}


@media (max-width: 500px) {
    #edit_technic {
        max-width: 90vw;
    }
}